.edit-wrapper {
    width: 400px; 
    text-align: center;
}

#edit-title {
    margin: 10px 0 40px 0;
    font-size: 24px;
}

.input-group {
    padding: 5px;
    position: relative;
}

.input-group label {
    display: block;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 3px;
}

.input-group input {
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group input:focus {
    border: 2px solid #7F6AEE;
    outline: none;
}

.helper-text {
    visibility: hidden; 
    font-size: 13px;
    margin-top: 5px;
    margin-left: 3px;
    color:red;
    text-align: left;
    height: 13px;
}

.helper-text.visible {
    visibility: visible; 
}

#edit-button {
    width: calc(100% - 10px);
    height: 35px;
    padding: 5px;
    margin-top: 15px;
    background-color: #ACA0EB;
    border: none;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

#edit-button:enabled {
    cursor: pointer;
}

.toast {
    margin: 30px auto 0; 
    padding: 10px 16px;
    background-color: #ACA0EB;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    width: fit-content;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.toast.show {
    opacity: 1;
    visibility: visible;
}