.signup-wrapper {
    width: 400px; 
    text-align: center;
}

#signup-title {
    margin: 10px 0 40px 0;
}

.profile-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.profile-label {
    font-weight: bold;
    font-size: 15px;
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 3px;
}

#profile-helper {
    width: 100%;
}

.profile-circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none; /* 기본 상태에서 숨김 */
    object-fit: cover;
}

.profile-circle #plus-icon {
    font-size: 35px;
    color: #000;
    position: absolute;
}

.input-group {
    padding: 5px;
    position: relative;
}

.input-group label {
    display: block;
    font-weight:bold;
    font-size: 15px;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 3px;
}

.input-group input {
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group input:focus {
    border: 2px solid #7F6AEE;
    outline: none;
}

.helper-text {
    visibility: hidden; 
    font-size: 13px;
    margin-top: 5px;
    margin-left: 3px;
    color:red;
    text-align: left;
    height: 13px;
}

.helper-text.visible {
    visibility: visible; 
}

#signup-btn {
    width: calc(100% - 10px);
    height: 35px;
    padding: 5px;
    margin-top: 5px;
    background-color: #ACA0EB;
    border: none;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

#signup-btn:enabled {
    cursor: pointer;
}

.login-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

.login-link:hover {
    text-decoration: underline;
}
