.posts-wrapper {
    width: 500px; 
    text-align: center;
}

#posts-title {
    margin-bottom: 30px;
}

#posts-title b {
    font-size: 24px;
}

.input-group {
    padding: 5px;
    position: relative;
    margin:20px 0;
}

.input-group label {
    display: block;
    font-weight:bold;
    font-size: 15px;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 3px;
}

.input-design:focus {
    outline: none;
}

.input-group input {
    width: 100%;
    height: 40px;
    padding: 8px;
    font-size: 15px;
    border:none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.input-group textarea {
    width: 100%;
    height: 400px;
    padding: 8px;
    font-size: 15px;
    border:none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #f5f5f5;
    resize: none;
}

.helper-text {
    visibility: hidden; 
    font-size: 13px;
    margin-top: 5px;
    margin-left: 3px;
    color:red;
    text-align: left;
    height: 13px;
}

.helper-text.visible {
    visibility: visible; 
}

#write-btn {
    width: 300px;
    height: 35px;
    padding: 5px;
    margin-top: 20px;
    background-color: #ACA0EB;
    border: none;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

#write-btn:enabled {
    cursor:pointer;
}

#image {
    display: none; 
}

.input-group .file-label {
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 5px 8px;
    background-color: #d9d9d9;
    color: #000;
    border-radius: 5px;
    border:1px solid #000;
    cursor: pointer;
    width:60px;
    text-align: center;
    font-weight: 400;
    color: #000;
}

.file-group {
    width: 100%;
    display: flex;
    align-items: center;
}