.posts-wrapper {
    width: 500px; 
    text-align: center;
    height: 100%;
}

.post-info {
    margin-bottom: 20px;
    padding: 0 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0 5px 0;
    text-align: left;
}

.profile-meta {
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.profile-group {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
}

.btn-group {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.user-img {
    display: flex;
    align-items: center; 
}

.user-img img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.nickname {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.date {
    font-size: 14px;
    margin-right: 10px;
}

.nickname,
.date {
    line-height: 25px; /* 이미지 높이에 맞춰줌 */
}

.edit-btn, .delete-btn {
    background: none;
    border: 1px solid #ACA0EB;
    width: 55px;
    height: 30px;
    border-radius: 10px;
    padding: 2px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.modal-content {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.modal-btn {
    width:100px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    border-width: 0px;
    margin:5px 0;
}

#cancel-btn, #cancel-btn2 {
    background-color: black;
    color: white;
}

#confirm-btn, #confirm-btn2 {
    background-color: #ACA0EB;
    color: black;
}

#like-btn {
    cursor: pointer;
}

.liked {
    background-color: #ACA0EB !important;
}

hr {
    margin: 20px 0;
    color:#ccc;
}

.post-content {
    padding: 0 10px 30px 10px;
}

.post-content img {
    width: 480px;
    height: 384px;
    object-fit: cover;
    margin: 0 auto;
}

.post-content p {
    width: 480px;
    text-align: left;
    margin: 20px 0;
    word-wrap: break-word;     /* 오래된 브라우저용 */
    overflow-wrap: break-word; /* 최신 브라우저용 */
}

.stats {
    display: flex;
    justify-content: space-between;
    margin: 30px 70px 0 ;
}

.stat-box {
    width: 90px;
    padding: 10px;
    background-color: #e0e0e0;
    border-radius: 15px;
    text-align: center;
}

.stat-count {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.stat-text {
    font-size: 16px;
    font-weight: bold;
}

.comment-meta {
    position: relative;
    display: flex;
    align-items: center;
    margin: 30px 0 15px 0;
}

.comment-img {
    display: flex;
    align-items: center; 
}

.comment-img img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.comment-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: white;
    border-radius: 10px ;
}

#comment-text {
    width: 95%;
    height: 100px;
    padding: 10px;
    border-radius: 10px 10px 0 0 ;
    font-size: 16px;
    border:none;
    resize: none;
}

#comment-text:focus {
    outline: none;
}

.btn-box {
    width:500px;
    height: 45px;
    border-top:2px solid #e0e0e0;
    position:relative;
    justify-content: center;
}

#comment-btn {
    position:absolute;
    top:5px;
    right: 5px;
    width: 120px;
    height: 35px;
    padding: 5px;
    border: none;
    color: white;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}

#comment-btn:disabled {
    background-color: #ACA0EB;
}

#comment-btn:enabled {
    background-color: #7F6AEE;
}

#comments-list {
    margin-top: 40px;
    padding: 0 10px;
}

.comment-item {
    margin-bottom: 40px;
}

.comment-item .comment-content {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-left: 25px;
    text-align: left;
}

.bottom-space {
    height: 30px;
}


